.container{
    margin-top: 50px;
}
.textArea{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.title{
    font-size: 50px;
    border: none;
    outline: none;
    background: none;
    font-family: var(--font-ubuntu);
}
.post{
    font-size: 30px;
    outline: none;
    border: none;    
    background: none;
    resize: none ;
}
.button{
    background-color: crimson;
    width: max-content;
    padding: 12px 18px;
    border: none;
    cursor: pointer;
    margin-top: 40px;

}
.error{
    color: crimson;
}
@media screen and (max-width:768px) {
 .title{
    font-size: 20px;
 }
 .post{
    font-size: 15px;
 }


}