.container {
    margin-top: 60px;
}

.userImage {
    position: relative;
    height: 45px;
    width: 45px;
}
.title{
 margin-bottom: 60px;
}
.comment {
    margin-top: 20px;
}

.userInfo {
    display: flex;
    gap: 20px;
    align-items: center;
}

.commentText{
 display: flex;
 gap: 60px;
}
.Date{
    padding-top: 2px;
}

@media screen and (max-width:1024px) {
    .userInfo{
        gap: 10px;
    }
    .commentText{
        gap: 20px;
    }
    .container{
        font-size: 10px;
    }
    .userImage{
        height: 25px;
        width: 25px;
    }
}