.container{
    margin-top: 40px;
    display: flex;
    gap: 60px;
}
.postAndComments{
    flex: 6;
}
.postdetails{
    margin-top: 40px;
    
}
.menupart{
    flex: 3;
}
.title{
    margin-top: 20px;
    font-size: 25px;
}

.userImage {
    position: relative;
    height: 45px;
    width: 45px;
}

.postImage {
    position: relative;
    height: 300px;
    max-width: 65%;

}
.user{
    display: flex;
    margin-top: 20px;
    font-size: 15px;
    gap: 20px;
    align-items: center;
}
.category{
    background: salmon;
    padding: 3px;
    border-radius: 5px;
    
}

.postContent{
    margin-top: 40px;
    color: var(--softTextColor);
    font-size: 20px;
}
@media screen and (max-width:1024px) {
 .menupart{
    display: none;
    
 }
 .postImage{
   max-width: 95%;
 }
}