.toggle {
  background: var(--softbg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
  position: relative;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.3s ease;
}


.icon {
  font-size: 14px;
  margin-left: auto;
  margin-right: 1px;
  transition: color 0.3s ease;
}

@media screen and (max-width:1024px) {
  .toggle{
    padding: 4px;
  }
}
