.content{
    display: flex;
    gap: 50px;
}
.cardlist{
    display: flex;
    flex-direction: column;
    flex: 5;
}
.titleCardlist{
    margin-top: 40px;
    margin-bottom: 40px;
}
.feedlink{
    border-bottom: 1px solid crimson;
    font-weight: bold;
}
.menupart{
    flex: 3;
}

@media screen and (max-width:1024px) {
 .menupart{
    display: none;
 }
}