.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wrapper {
    background-color: var(--softbg);
    padding: 100px 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    border-top: 5px solid var(--borderColor);
}

.email {
    width: 400px;
    height: 40px;
    background: white;
    border-radius: 5px;
    padding: 1px 5px;
    color: black;
    font-size: 20px;
    text-align: center;
    border: 2px solid var(--borderColor);
}

.password {
    width: 400px;
    height: 40px;
    background: white;
    border-radius: 5px;
    padding: 1px 5px;
    color: black;
    font-size: 20px;
    text-align: center;
    border: 2px solid var(--borderColor);
}

.name {
    width: 400px;
    height: 40px;
    background: white;
    border-radius: 5px;
    padding: 1px 5px;
    color: black;
    font-size: 20px;
    text-align: center;
    border: 2px solid var(--borderColor);
}

.button {
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    background: crimson;
    font-weight: bold;
}

.errorText {
    text-align: start;
    color: crimson;
}

.signup {
    display: flex;
    gap: 10px;
    justify-content: end;
    font-size: 20px;
    margin-top: 20px;

}

.signuplink {
    color: crimson;
    padding-right: 5px;
}

@media screen and (max-width:768px) {
    .wrapper {
        padding: 80px 20px;
    }

    .email {
        width: 250px;
        height: 30px;
        font-size: 16px;
    }

    .password {
        width: 250px;
        height: 30px;
        font-size: 16px;
    }

    .name {
        width: 250px;
        height: 30px;
        font-size: 16px;
    }

    .signup {
        font-size: 12px;
    }
    .errorText{
        font-size: 10px;
    }

    .button {
        height: 30;
        font-size: 12px;
    }
}